*{
    margin:0px;
    padding:0px;
    font-family: Raleway, sans-serif;
    line-height: 1.4em;
}

header img{
    display:block;
    margin:auto;
    padding: 10px;
}

div.banner{
    background-image: url(/img/banner.png);
}

nav ul{
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

nav li{
    display: inline-block;
}

ul.pagines a{
    padding-left: 5px;
    padding-right: 5px;
    color: #F5D576;
    text-decoration: none;
}

ul.pagines a:hover{
    color: #E3BE6E;
}

main iframe{
    display: block;
    margin: auto;
    width: 50%;
    height: 550px;
    padding-top: 20px;
}

div.fotos{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: auto;
    margin-right: auto;}

div.xarxes{
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
div.mp3{
    margin: auto;
    text-align: center;
}

footer{
    background-color: black;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    color: #F5D576;
    /* position: fixed;  te sigue el footer */
}