*{
    margin:auto;
    padding:auto;
    font-family: Raleway, sans-serif;
    line-height: 1.4em;
    text-align: center;

}
body{
    background: linear-gradient(to right, white,#F5D576, #F5D576, #aa830c, #F5D576, #F5D576, white);
}
div.fons{
    background-image: url(/img/banner.png);
}

.actual {
    color: #dba63a;
}

ul a{
    padding-left: 5px;
    padding-right: 5px;
    color: #F5D576;
    text-decoration: none;
}

header img{
    display:block;
    margin:auto;  
    padding:10px;
}

.borde{
    border: #F5D576 5px ridge;
}

aside{
    padding: 10px;
}

nav ul{
    list-style-type: none;
    text-align: center;  
    padding: 10px;

}

nav li{
    display: inline-block;
    color: #ffffff;
}

nav a:hover{
    color: #dba63a;
}

main{
    float: left;
    margin-top: 10px;
    /* padding-left: 50px; */

}

div.dreta p{
    text-align: right;
}

div.xarxes{
    width: 100%;
    text-align: center;
    bottom: 40px;
    padding-bottom: 5px;
}

div.principal{
    display: inline;
}

aside p{
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

aside h3{
    padding-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

main img{
    margin-left: 100px;
}

img{
    margin-top: 10px;
    margin-right: 10px;

}

.separar{
    padding: 10px;
}

footer{
    background-color:black;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    color: #F5D576;
    /* position: fixed;  te sigue el footer */
}
